<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(assets|css|js|icon|img|robots\.txt|favicon\.ico) - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
