<div class="rsm-date-wrapper">
    <button class="btn btn-outline-secondary btn-date-range js-date-btn">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
            <path
                d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
                stroke="#55586B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 2V6" stroke="#55586B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8 2V6" stroke="#55586B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M3 10H21" stroke="#55586B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="js-date-text">Pilih rentang tanggal</span>
    </button>

    <div class="rsm-date-dropdown js-date-dropdown">
        <div class="rsm-cal-body">

            <div class="rsm-cal-month">
                <div class="rsm-cal-header-row">
                    <button class="rsm-cal-btn-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 18L9 12L15 6" stroke="#29415C" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="rsm-cal-title">Januari 2025</div>
                    <div style="width: 40px;"></div>
                </div>

                <div class="rsm-cal-week-row">
                    <div class="rsm-cal-weekday">Sn</div>
                    <div class="rsm-cal-weekday">Sl</div>
                    <div class="rsm-cal-weekday">Rb</div>
                    <div class="rsm-cal-weekday">Km</div>
                    <div class="rsm-cal-weekday">Jm</div>
                    <div class="rsm-cal-weekday">Sb</div>
                    <div class="rsm-cal-weekday">Mg</div>
                </div>

                <div class="rsm-cal-days-grid">
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell is-start">
                        <div class="rsm-day-number">1</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">2</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">3</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">4</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">5</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">6</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">7</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">8</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">9</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">10</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">11</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">12</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">13</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">14</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">15</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">16</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">17</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">18</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">19</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">20</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">21</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">22</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">23</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">24</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">25</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">26</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">27</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">28</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">29</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">30</div>
                    </div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">31</div>
                    </div>
                </div>
            </div>

            <div class="rsm-cal-divider"></div>

            <div class="rsm-cal-month">
                <div class="rsm-cal-header-row">
                    <div style="width: 40px;"></div>
                    <div class="rsm-cal-title">Februari 2025</div>
                    <button class="rsm-cal-btn-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="#29415C" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>

                <div class="rsm-cal-week-row">
                    <div class="rsm-cal-weekday">Sn</div>
                    <div class="rsm-cal-weekday">Sl</div>
                    <div class="rsm-cal-weekday">Rb</div>
                    <div class="rsm-cal-weekday">Km</div>
                    <div class="rsm-cal-weekday">Jm</div>
                    <div class="rsm-cal-weekday">Sb</div>
                    <div class="rsm-cal-weekday">Mg</div>
                </div>

                <div class="rsm-cal-days-grid">
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell"></div>
                    <div class="rsm-day-cell is-range">
                        <div class="rsm-day-number">1</div>
                    </div>
                    <div class="rsm-day-cell is-end">
                        <div class="rsm-day-number">2</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">3</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">4</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">5</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">6</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">7</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">8</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">9</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">10</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">11</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">12</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">13</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">14</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">15</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">16</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">17</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">18</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">19</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">20</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">21</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">22</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">23</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">24</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">25</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">26</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">27</div>
                    </div>
                    <div class="rsm-day-cell">
                        <div class="rsm-day-number">28</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rsm-cal-footer-actions">
            <button class="rsm-action-reset">Reset</button>
            <button class="rsm-action-apply js-apply-date">Terapkan</button>
        </div>
    </div>
</div>

<script>
    // Date Picker Logic (Scoped)
    (function () {
        // Find all uninitialized wrappers
        const wrappers = document.querySelectorAll('.rsm-date-wrapper:not([data-initialized="true"])');

        wrappers.forEach(wrapper => {
            wrapper.setAttribute('data-initialized', 'true');

            // Scoped queries
            const btn = wrapper.querySelector('.js-date-btn');
            const dropdown = wrapper.querySelector('.js-date-dropdown');
            const applyBtn = wrapper.querySelector('.js-apply-date');
            const dateText = wrapper.querySelector('.js-date-text');

            if (!btn || !dropdown) return;

            // Toggle Dropdown
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                // Close other opened dropdowns? Optional. For now just toggle mine.
                const wasOpen = dropdown.classList.contains('show');

                // Close all others
                document.querySelectorAll('.rsm-date-dropdown.show').forEach(d => {
                    if (d !== dropdown) d.classList.remove('show');
                });

                if (!wasOpen) {
                    dropdown.classList.add('show');
                } else {
                    dropdown.classList.remove('show');
                }
            });

            // Mock Apply
            if (applyBtn) {
                applyBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if (dateText) dateText.textContent = "8 Jul 2024 - 13 Jul 2024";
                    dropdown.classList.remove('show');
                });
            }
        });

        // Global click listener for closing (only attach once if possible, or careful not to pile up)
        // Since this script runs multiple times (injected repeatedly), we should be careful.
        // However, the close logic typically relies on `dropdown.contains(target)`. 
        // If we attach multiple listeners to `document`, they will all run and check their respective dropdowns.
        // It's inefficient but functional. 
        // Better: Check if we already attached a global closer? 
        // Actually, the simple approach is fine for the scale.

        document.addEventListener('click', function (e) {
            wrappers.forEach(wrapper => {
                const dropdown = wrapper.querySelector('.js-date-dropdown');
                const btn = wrapper.querySelector('.js-date-btn');
                if (dropdown && btn && dropdown.classList.contains('show')) {
                    if (!dropdown.contains(e.target) && !btn.contains(e.target)) {
                        dropdown.classList.remove('show');
                    }
                }
            });
        });
    })();
</script>