<div class="asm-modal-footer">
    <div class="asm-footer-info">Showing 1 to 3 of 3</div>

    <div class="asm-footer-pages">
        <button type="button" class="asm-page-arrow">‹</button>
        <button type="button" class="asm-page-current">1</button>
        <button type="button" class="asm-page-arrow">›</button>
    </div>

    <div class="asm-footer-show">
        <span>Show</span>
        <button type="button" class="asm-show-dropdown">
            <span>10</span>
            <span class="asm-show-caret">▾</span>
        </button>
    </div>
</div>