<div class="asm-modal-backdrop" id="rsmModalPemol">
  <div class="asm-modal">
    <!-- Header -->
    <div class="asm-modal-header">
      <h3 class="asm-modal-title">RSM Andreas Pandu Setiawan</h3>
      <button class="asm-modal-close" id="closeRsmModalBtn">×</button>
    </div>

    <!-- Body -->
    <div class="asm-modal-body">
      <!-- User Provided Content Start -->
      <div class=" card-rsm">
        <!-- TOP BAR -->
        <div class="d-flex align-items-center justify-content-between rsm-top-bar" style="margin-bottom: 20px">
          <div class="d-flex align-items-center gap-2">
            <!-- Period Label -->
            <h2 class="mb-0" style="color: #1e62b3; font-size: 32px; font-weight: 700">
              Period
            </h2>
            <div class="d-flex align-items-center gap-2">
              <!-- search -->
              <div class="input-group rsm-search-input" style="width: 864px">
                <span class="input-group-text">🔍</span>
                <input type="text" class="form-control" placeholder="Cari" />
              </div>
            </div>
          </div>
        </div>

        <!-- TABLE -->
        <div class="table-responsive">
          <table class="table mb-0 rsm-table text-nowrap">
            <thead>
              <tr>
                <th style="width: 25%"></th>
                <th class="text-center" style="width: 10%">Credit Card (CC)</th>
                <th class="text-center" style="width: 10%">EDC</th>
                <th class="text-center" style="width: 10%">Smart Cash (SC)</th>
                <th class="text-center" style="width: 10%">Personal Loan (PL)</th>
                <th class="text-center" style="width: 10%">Corporate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-start">Application Input</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Incoming</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Approved</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Cancel</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Decline / Reject</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">App Rate</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Book Rate</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Run Rate INC</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>

              <tr>
                <td class="text-start">Run Rate APP</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">3</td>
                <td class="text-center" style="width: 10%">1</td>
                <td class="text-center" style="width: 10%">0</td>
                <td class="text-center" style="width: 10%">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- User Provided Content End -->
    </div>
  </div>
</div>