<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drilldown Card</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="tp-card-list">
      <div class="tp-drilldown-card">
        <div class="tp-drilldown-header">
          <div class="tp-drilldown-title">RSM Andreas Pandu Setiawan</div>
          <button class="tp-drilldown-btn" onclick="openRsmModal()">
            <span class="tp-drilldown-btn-text">View</span>
          </button>
        </div>
        <div class="tp-drilldown-body">
          <div class="tp-drilldown-row">
            <div
              class="tp-drilldown-label"
              style="color: #29415c; font-weight: 600"
            >
              ASM Achmad Reynaldi Mahendra
            </div>
            <div class="tp-chevron-down"></div>
          </div>
        </div>
      </div>

      <div class="tp-drilldown-card">
        <div class="tp-drilldown-header">
          <div class="tp-drilldown-title">RSM Assah Novtriani</div>
          <button class="tp-drilldown-btn">
            <span class="tp-drilldown-btn-text">View</span>
          </button>
        </div>
        <div class="tp-drilldown-body">
          <div class="tp-drilldown-row">
            <div class="tp-drilldown-label">Choose ASM</div>
            <div class="tp-chevron-down"></div>
          </div>
        </div>
      </div>

      <div class="tp-drilldown-card">
        <div class="tp-drilldown-header">
          <div class="tp-drilldown-title">RSM Debby Rizky Mulyani</div>
          <button class="tp-drilldown-btn">
            <span class="tp-drilldown-btn-text">View</span>
          </button>
        </div>
        <div class="tp-drilldown-body">
          <div class="tp-drilldown-row">
            <div class="tp-drilldown-label">Choose ASM</div>
            <div class="tp-chevron-down"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
