/* Centralized base styles: font-face + global defaults */
/* Place font files under assets/fonts/ as referenced below for best results. */
@font-face {
  font-family: 'TikTok Sans';
  src: url('../fonts/TikTokSans-Regular.woff2') format('woff2'),
    url('../fonts/TikTokSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TikTok Sans';
  src: url('../fonts/TikTokSans-Medium.woff2') format('woff2'),
    url('../fonts/TikTokSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TikTok Sans';
  src: url('../fonts/TikTokSans-SemiBold.woff2') format('woff2'),
    url('../fonts/TikTokSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-bg: #F3F7FA;
  --main-color: #0F172A;
}